@import url("./media.css");

.cardSite {
    background-image: url('');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 45px;
    align-items: center;
    margin-top: 1.5em;
}

.imgem {
    height: 60%;
    width: 30%;
    padding: inherit;
    align-self: center;
}

iframe{
    margin-top: 25px;
    width: 710px;
    height: 200px;        
}

.card1 {
    width: 85%;
    margin-bottom: 1em;
    padding: 1.5rem;
    display: flex;
    background: #7858fa;
    color: #d2e1dc;
    border-radius: 25px;
    box-shadow: 0px 2px 20px 2px #3a3939;
}

.card1:hover {
    transition: 1.6s;
    background: var(--roxo);
    color: var(--amarelo);
    border: 1px solid #000;
}

.card2:hover {
    transition: 1.6s;
    background: var(--roxo);
    color: var(--amarelo);
    border: 1px solid #000;
}

.card2 {
    width: 85%;
    margin-bottom: 1em;
    padding: 1.5rem;
    display: flex;
    background: #9176ff;
    color: #cdf1e5;
    border-radius: 25px;
    box-shadow: 0px 2px 20px 2px #3a3939;
}

.card2 img {
    flex-direction: row-reverse;
    order: 2;
    align-self: center;
}


.text-div {
    padding: inherit;
    /* color: var(--cor-secundaria); */
}

.text-div h3{
    padding: inherit;
    text-align: center;
}

.text-div p{
    padding: inherit;
    font-size: 18px;
}

@media (max-width: 780px) {
    .card1 {
        padding: 0.2rem;
        box-shadow: 0px 3px 20px 0px #3a3939;
    }

    .text-div p{
        padding: 0;
        text-align: justify;
        font-size: 14px;
    }

    .card2 {
        padding: 0.2rem;
        box-shadow: 0px 3px 20px 0px #3a3939;
    }

    .text-div p{
        padding: 0;
        text-align: justify;
    }

    
}